<p-password
  #input
  class="password-input"
  [ngModel]="currentValue"
  [placeholder]="placeholder"
  [toggleMask]="true"
  [feedback]="withCreationHints"
  [promptLabel]="'Введите пароль'"
  [weakLabel]="'Слабый'"
  [mediumLabel]="'Средний'"
  [strongLabel]="'Сильный'"
  [appendTo]="'body'"
  (input)="writeValue(input.value || '')"
>
  <ng-template *ngIf="withCreationHints" pTemplate="footer">
    <p-divider></p-divider>
    <p>Требования:</p>
    <ul class="password-input__errors">
      <li *ngFor="let hint of hints | keyvalue">
        {{ hint.key | formatPasswordRequirement: hint.value }}
      </li>
    </ul>
  </ng-template>
</p-password>
<button
  *ngIf="withClearButton"
  class="password-input__clear-button"
  (click)="writeValue('')"
>
  <i class="pi pi-times"></i>
</button>
<p-overlayPanel
  #errorPanel
  [dismissable]="false"
  [appendTo]="elementRef.nativeElement"
>
  <ng-template pTemplate="content">
    <h5 class="password-input__error-message">{{ errorMessage }}</h5>
  </ng-template>
</p-overlayPanel>
