@import 'mixins';

$clear-button-width: 2.5em;

:host {
  @include flex();

  width: 100%;

  ::ng-deep {
    .p-password,
    .p-inputtext {
      width: 100%;
    }

    .p-password-panel {
      z-index: var(--password-hints-layer) !important;
    }
  }

  &.ng-invalid.ng-touched ::ng-deep .p-inputtext {
    border-color: var(--red-500);
  }

  &:has(.password-input__clear-button) ::ng-deep {
    .p-icon-wrapper {
      translate: -200%;
    }

    .p-inputtext {
      padding-right: calc(2 * $clear-button-width);
    }
  }
}

.p-inputgroup-addon + :host ::ng-deep .p-inputtext {
  border-radius: 0 6px 6px 0;
}

.password-input {
  width: 100%;

  &__errors {
    list-style: none;
    padding-left: 0;
    line-height: 1.5;
  }

  &__clear-button {
    z-index: 0;

    width: $clear-button-width;
    margin-left: -$clear-button-width;

    padding: 0.25em 0;
    @include flex();

    cursor: pointer;
    background-color: transparent;
    border: none;

    color: var(--text);
    font-size: 1em;
  }

  &__error-message {
    margin: 0;
    color: var(--red-500);
  }
}
