<section class="currencies-section">
  <div class="currencies-section__heading heading">
    <span class="heading__emoji">📈</span>
    <h2 class="heading__main-text">Изучите Пульс Криптовалюты</h2>
    <span class="heading__emoji">📉</span>
  </div>
  <p class="currencies-section__description">
    В этой секции вы найдете графики курсов криптовалют, которые позволят вам
    проникнуть в сердце финансового мира будущего. Отслеживайте динамику курсов,
    анализируйте тренды и делайте обоснованные решения.
  </p>
  <div class="currencies-section__charts-wrapper charts-wrapper">
    <div class="charts-wrapper__heading">
      <p-tabMenu
        class="charts-wrapper__tab-menu"
        [model]="currenciesMenuItems"
      ></p-tabMenu>
    </div>
    <div class="charts-wrapper__main">
      <p-chart></p-chart>
    </div>
  </div>
</section>
