@keyframes submit-button-gradient-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.p-button-submit {
  width: 100%;
  justify-content: center;
  background: var(--primary-secondary-gradient);
  border: 2px solid var(--primary-500);
  font-weight: bold;
}

form.ng-valid .p-button-submit {
  background-size: 180% 180%;
  background-color: var(--primary-secondary-darkened-gradient);
  animation: submit-button-gradient-bg 2s ease-in-out infinite;
}
