@import 'mixins';

:host {
  @include flex($direction: column, $align-items: center);
}

.relative-currency-select {
  &__description {
    text-align: center;
  }

  &__option {
    @include flex($gap: 5px);
  }

  &__icon {
    height: 20px;
  }

  &__text {
    flex-grow: 1;
  }
}
