:host::ng-deep {
  .password-input__field-wrapper,
  .password-input__field {
    width: 100%;
  }

  .password-input__field {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.password-input__errors {
  list-style: none;
  padding-left: 0;
  line-height: 1.5;
}
