<p-inputGroup class="password-input">
  <p-inputGroupAddon>
    <i class="pi pi-lock"></i>
  </p-inputGroupAddon>
  <p-password
    [placeholder]="'Пароль'"
    [toggleMask]="true"
    [formControl]="control"
    [styleClass]="'password-input__field-wrapper'"
    [inputStyleClass]="'password-input__field'"
    [promptLabel]="'Введите пароль'"
    [weakLabel]="'Слабый'"
    [mediumLabel]="'Средний'"
    [strongLabel]="'Сильный'"
  >
    <ng-template pTemplate="footer">
      <p-divider></p-divider>
      <p class="mt-2">Требования:</p>
      <ul class="password-input__errors">
        <li *ngFor="let req of requrements | keyvalue">
          {{ req.key | formatPasswordRequirement: req.value }}
        </li>
      </ul>
    </ng-template>
  </p-password>
</p-inputGroup>
