<p-inputGroup class="password-input" [style]="{ width: '100%' }">
  <p-inputGroupAddon>
    <i class="pi pi-lock"></i>
  </p-inputGroupAddon>
  <p-password
    class="password-input__field"
    [placeholder]="'Пароль'"
    [toggleMask]="true"
    [formControl]="control"
    [style]="{ width: '100%' }"
    [promptLabel]="'Введите пароль'"
    [weakLabel]="'Слабый'"
    [mediumLabel]="'Средний'"
    [strongLabel]="'Сильный'"
  >
    <ng-template pTemplate="footer">
      <p-divider></p-divider>
      <p class="mt-2">Требования:</p>
      <ul class="password-input__errors" style="line-height: 1.5">
        <li *ngFor="let req of requrements | keyvalue">
          {{ req.key | formatPasswordRequirement: req.value }}
        </li>
      </ul>
    </ng-template>
  </p-password>
</p-inputGroup>
