@import 'mixins';

.hero-section {
  &__carousel {
    display: block;
    padding-bottom: 30px;
  }
}

.carousel-block {
  height: calc(100vh - 150px);
  width: 100%;

  @include flex($justify-content: space-around);

  &_reversed {
    flex-direction: row-reverse;
  }

  &__image {
    max-width: 40%;
    max-height: 90%;
  }

  &__text-wrapper {
    width: max(40%, 150px);
    font-size: 1.5em;
  }

  &__heading {
    font-size: 1.75em;
  }

  &__description {
    width: max(85%, 150px);
  }
}
