<section class="hero-section">
  <p-carousel
    class="hero-section__carousel carousel"
    [autoplayInterval]="8000"
    [showNavigators]="false"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [value]="carouselSlides"
  >
    <ng-template let-slide pTemplate="slide">
      <div
        class="carousel__slide slide"
        [ngClass]="{ slide_reversed: slide.isReversed || false }"
      >
        <img class="slide__image" src="{{ slide.image }}" alt="" />
        <app-text-block
          class="slide__text-block"
          [heading]="slide.text"
          [description]="slide.subtext"
          [shadowEffect]="'duplicate'"
        ></app-text-block>
      </div>
    </ng-template>
  </p-carousel>
</section>
