:host {
  flex-grow: 1;
  width: 100%;

  ::ng-deep {
    .p-password,
    .p-inputtext {
      width: 100%;
    }
  }
}

.p-inputgroup-addon + :host ::ng-deep .p-inputtext {
  border-radius: 0 6px 6px 0;
}

.password-input {
  &__errors {
    list-style: none;
    padding-left: 0;
    line-height: 1.5;
  }
}
