:host {
  flex-grow: 1;
  width: 100%;

  ::ng-deep {
    .p-inputtext {
      width: 100%;
    }
  }
}

.password-input {
  &__errors {
    list-style: none;
    padding-left: 0;
    line-height: 1.5;
  }
}
