@import 'mixins';
@import 'functions';
@import 'variables';

.diversification-section {
  padding-top: 50px;
  background: linear-gradient(
    100deg,
    var(--white-500) 0%,
    var(--pink-500) 30%,
    var(--pink-500) 50%,
    var(--green-600) 80%,
    var(--white-500) 100%
  );

  &__portfolio-image {
    display: block;
    margin-left: auto;
    translate: -25px -45%;

    width: 25%;
  }

  &__text-block {
    display: block;
    width: 95%;
  }

  &__description {
    width: max(70%, 250px);
  }

  &__text_emphasized {
    color: var(--grey-900);
    font-weight: bold;
  }
}

:host ::ng-deep {
  .text-block {
    padding: 50px 20px 50px 8vw !important;

    border: none !important;
    border-radius: 0 $one-sided-section-border-radius
      $one-sided-section-border-radius 0 !important;
    background: linear-gradient(
      100deg,
      var(--white-500) 0%,
      var(--teal-500) 20%
    ) !important;
  }
}
