<section class="diversification-section">
  <div class="diversification-section__text-block text-block">
    <h2 class="text-block__heading heading">Мир банковских услуг изменился</h2>
    <p class="text-block__main-text">
      <span class="text-block__emphasized-text emphasized-text"
        >Диверсификация является стратегическим приоритетом.</span
      >
      Финансовым учреждениям необходимо повышать уровень потребительских и малых
      бизнес-кредитов, предоставляя при этом современный цифровой опыт.
    </p>
  </div>
  <img
    src="../../../../../assets/images/home-page/portfolio.svg"
    alt="Картинка портфолио"
    class="diversification-section__portfolio-image"
  />
</section>
