<section class="diversification-section">
  <app-text-block
    class="diversification-section__text-block"
    [heading]="heading"
    [description]="textBlockDescription"
    [offsetDescription]="true"
    [shadowEffect]="'normal'"
  ></app-text-block>
  <img
    src="assets/images/home-page/portfolio.svg"
    alt="Картинка портфолио"
    class="diversification-section__portfolio-image"
  />
</section>
<ng-template #textBlockDescription>
  <p class="diversification-section__description">
    <span class="diversification-section__text_emphasized"
      >Диверсификация является стратегическим приоритетом.</span
    >
    Финансовым учреждениям необходимо повышать уровень потребительских и малых
    бизнес-кредитов, предоставляя при этом современный цифровой опыт.
  </p>
</ng-template>
