body {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white-500);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--white-600);
    border-radius: 20px;

    &:hover {
      background-color: var(--pink-600);
    }
  }
}
