@import 'mixins';
@import 'functions';

:host {
  @include flex($direction: column, $justify-content: space-between);
  min-width: 300px;

  @media (max-width: 1100px) {
    justify-content: center;
    gap: 10px;
  }
}

.profile-photo {
  &__image {
    object-fit: contain;

    width: 100%;
    height: to-responsive(250px, $relative-to: 1500px, $min: 120px);
  }

  &__upload {
    width: 100%;
  }
}
