@import 'mixins';
@import 'functions';

:host {
  @include flex($direction: column, $gap: 10px);
  min-width: 300px;
}

.profile-photo {
  &__image {
    object-fit: contain;

    width: 100%;
    height: to-responsive(250px, $relative-to: 1500px, $min: 120px);
  }

  &__upload {
    width: 100%;
  }
}
