@import 'mixins';

:host {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column dense;

  justify-content: space-around;
  align-items: center;
}

.chart-settings {
  &__description {
    text-align: center;
  }

  &__option-input {
    justify-self: center;
  }
}

.relative-currency-select {
  &__option {
    @include flex($gap: 5px);
  }

  &__icon {
    height: 20px;
  }

  &__text {
    flex-grow: 1;
  }
}
