@import 'mixins';
@import 'functions';
@import 'variables';

.hero-section {
  &__carousel {
    display: block;
    padding-bottom: 30px;
  }
}

.carousel-block {
  height: calc(100vh - 150px);
  width: 100%;

  @include flex($justify-content: space-around);

  &_reversed {
    flex-direction: row-reverse;
  }

  &__image {
    max-width: 40%;
    max-height: 90%;
  }

  &__text-wrapper {
    width: max(40%, 150px);
    font-size: 1.5em;
  }

  &__heading {
    font-size: 1.75em;
  }

  &__description {
    width: max(85%, 150px);
  }
}

.diversification-section {
  padding-top: 50px;
  background: linear-gradient(
    100deg,
    var(--white-500) 0%,
    var(--pink-500) 30%,
    var(--pink-500) 50%,
    var(--green-600) 80%,
    var(--white-500) 100%
  );

  &__text-block {
    width: 95%;
    padding: 50px 20px 50px 10vw;

    border-radius: 0 $one-sided-section-border-radius
      $one-sided-section-border-radius 0;
    background: linear-gradient(
      100deg,
      var(--white-500) 0%,
      var(--teal-500) 20%
    );

    @include drop-shadow();

    font-size: 1.5em;
  }

  &__heading {
    font-size: 1.75em;
    translate: -30px;
  }

  &__main-text {
    width: max(60%, 250px);
  }

  &__emphasized-text {
    color: var(--grey-900);
    font-weight: bold;
  }

  &__portfolio-image {
    width: 25%;
    display: block;
    margin-left: auto;

    translate: -25px -45%;
  }
}

.currencies-section {
  padding: 50px 0;
  background-color: var(--surface-50);

  &__charts-wrapper {
    margin: 0 auto;
  }

  &__heading-wrapper {
    font-size: 2em;
    padding-bottom: 10px;

    width: 100%;
    overflow: hidden;

    @include flex();
  }

  &__heading {
    max-width: 80vw;
    text-align: center;
  }

  &__description {
    width: max(300px, 50%);
    font-size: 1.5em;
    margin: 0 auto;
    text-align: justify;
    padding: 2.5rem;
  }
}

.charts-wrapper {
  width: max(300px, 90%);
  max-height: calc(100vh - 100px);

  background-color: var(--white-500);

  border-radius: 0 0 50px 50px;

  &__main {
    padding: 0 50px 50px;
  }
}
