@import 'mixins';
@import 'functions';
@import 'variables';

.home-page {
  &__portfolio-image {
    width: 25%;
    display: block;
    margin-left: auto;

    translate: -25px -45%;
  }
}

.hero-section {
  &__carousel {
    display: block;
    padding-bottom: 30px;
  }
}

.carousel-block {
  height: calc(100vh - 150px);
  width: 100%;

  @include flex($justify-content: space-around);

  &_reversed {
    flex-direction: row-reverse;
  }

  &__image {
    max-width: 40%;
    max-height: 90%;
  }

  &__text-wrapper {
    width: 40%;
    font-size: to-responsive(24px, $relative-to: 1500px, $min: 10px);
  }

  &__heading {
    font-size: 2em;
  }

  &__description {
    width: 85%;
  }
}

.diversification-section {
  width: 95%;
  padding: 50px 20px 50px 10vw;

  border-radius: 0 $one-sided-section-border-radius
    $one-sided-section-border-radius 0;
  background-color: var(--teal-500);

  font-size: to-responsive(24px, $relative-to: 1500px, $min: 10px);

  &__heading {
    font-size: 2em;
    translate: -30px;
  }

  &__main-text {
    width: 60%;
  }

  &__emphasized-text {
    color: var(--purple-800);
    font-weight: bold;
  }
}
