<p-inputGroup [style]="{ width: '100%' }">
  <p-inputGroupAddon>
    <i class="pi pi-lock"></i>
  </p-inputGroupAddon>
  <p-password
    class="login-page__password-input"
    [placeholder]="'Пароль'"
    [toggleMask]="true"
    [formControl]="control"
    [style]="{ width: '100%' }"
    [promptLabel]="'Введите пароль'"
    [weakLabel]="'Слабый'"
    [mediumLabel]="'Средний'"
    [strongLabel]="'Сильный'"
  >
    <ng-template pTemplate="footer">
      <p-divider></p-divider>
      <p class="mt-2">Требования</p>
      <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
        <li>Одна строчная буква</li>
        <li>Одна заглавная буква</li>
        <li>Одна цифра</li>
        <li>Минимум 8 символов</li>
      </ul>
    </ng-template>
  </p-password>
</p-inputGroup>
