@import 'mixins';
@import 'variables';

:host {
  ::ng-deep {
    .p-menubar-root-list {
      font-weight: bold;

      @media screen and (max-width: 960px) {
        top: 115%;
        left: 15%;

        background-color: var(--grey-600);

        transition: top $hover-transition;
      }
    }
  }

  &:has(.header_shrunk) ::ng-deep {
    @media screen and (max-width: 960px) {
      .p-menubar-root-list {
        top: 98.5%;
      }
    }
  }
}

.header {
  height: 95px;
  padding: 0 10vw 0 20px;
  transition: height $hover-transition;

  border-bottom-left-radius: $one-sided-section-border-radius;
  background-color: var(--grey-800);

  @include flex();

  &__navigation {
    display: block;
    width: 100%;
  }

  &__logo {
    translate: 0 -2.5px;
  }

  &__heading {
    display: inline-block;
    translate: 0 -15px;
  }

  &_shrunk {
    height: 70px;
  }
}

.logo {
  width: 60px;
  height: 60px;
}

.heading {
  padding: 0 10px;

  color: var(--white-500);

  @media (max-width: 400px) {
    display: none;
  }
}
