@import 'mixins';

:host {
  ::ng-deep {
    .p-menubar-root-list {
      @media screen and (max-width: 960px) {
        top: calc(100% + 10px);
        left: 15%;

        background-color: var(--surface-800);

        transition: top var(--hover-transition);
      }
    }
  }

  &:has(.header_shrunk) ::ng-deep {
    @media screen and (max-width: 960px) {
      .p-menubar-root-list {
        top: calc(100% - 2.5px);
      }
    }
  }
}

.header {
  height: 95px;
  padding: 0 10vw 0 20px;
  transition: height var(--hover-transition);

  border-bottom-left-radius: var(--section-border-radius);
  background-color: var(--surface-1000);

  @include flex();

  &__navigation {
    display: block;
    width: 100%;
  }

  &__logo {
    translate: 0 -2.5px;

    width: 60px;
    height: 60px;
  }

  &__heading {
    display: inline-block;
    translate: 0 -15px;

    padding: 0 10px;

    color: var(--surface-0);

    @media (max-width: 400px) {
      display: none;
    }
  }

  &__link {
    @include flex($justify-content: flex-start, $gap: 0.5em);

    font-size: 1.1em;
    font-weight: bold;

    &:hover {
      color: var(--text);
    }
  }

  &__icon {
    font-size: 1.5rem;
  }

  &__user-photo {
    width: 1.5rem;
    aspect-ratio: 1 / 1;

    font-size: 0;

    background-size: 100% 100%;
    background-position: center;
    border-radius: 50%;
  }

  &_shrunk {
    height: 70px;
  }
}
