@import 'mixins';
@import 'animations';

:host ::ng-deep {
  .password-input__errors {
    font-size: 0.9rem;
  }
}

.profile {
  width: min(55vw, 650px);
  min-height: 300px;

  padding: 15px 0;
  @include flex($justify-content: space-between, $align-items: stretch);

  &__divider {
    display: none;
  }

  &__photo {
    width: 50%;
  }

  @media (max-width: 1100px) {
    width: max(300px, 35vw);
    height: auto;

    flex-direction: column;
    align-items: center;

    &__photo {
      width: 100%;
    }

    &__divider {
      display: block;
      width: 100%;
    }
  }
}

.text-fields {
  width: 100%;

  @include flex(
    $direction: column,
    $align-items: flex-start,
    $justify-content: flex-start
  );

  &__info {
    width: 100%;
    @include flex($direction: column, $align-items: flex-start);
  }

  &__name {
    display: block;

    font-weight: bold;
    font-size: 1.5em;
  }

  &__value {
    padding-top: 8px;
    padding-left: 1em;
  }

  &__divider {
    width: 100%;
  }

  &:has(.change-password-button) {
    justify-content: space-between;
  }
}

.change-password-form {
  width: 100%;
  flex: 1 0 auto;

  @include flex($direction: column, $justify-content: space-between);
  animation: appear var(--hover-transition) forwards;

  &__inputs {
    width: 100%;
    @include flex($direction: column, $gap: 1.25em);
  }

  &__submit-button {
    width: 75%;
  }

  @media (max-width: 1100px) {
    justify-content: center;
    gap: 10px;
  }
}

.change-password-button {
  margin: 0 auto;

  &_disappearing {
    animation: disappear var(--hover-transition) forwards;
  }
}
