<p-dialog
  header="Ваши данные"
  [modal]="true"
  [(visible)]="profileVisible"
  [dismissableMask]="true"
  [draggable]="false"
  (onHide)="passwordInputVisible = false; passwordForm.reset()"
>
  <div class="profile">
    <app-profile-photo class="profile__photo"></app-profile-photo>
    <p-divider class="profile__divider"></p-divider>
    <div class="profile__text-fields">
      <div class="info-fields">
        <div class="info-fields__field">
          <span class="info-fields__name">Почта</span>
          <span class="info-fields__value">{{ email$ | async }}</span>
        </div>
      </div>
      <p-divider></p-divider>
      <form
        class="change-password-form"
        [ngClass]="{ 'change-password-form_visible': passwordInputVisible }"
      >
        <app-password-input
          [placeholder]="'Новый пароль'"
          [control]="passwordForm.controls.password"
        ></app-password-input>
        <app-password-input
          [placeholder]="'Подтвердите пароль'"
          [control]="passwordForm.controls.passwordConfirm"
        ></app-password-input>
      </form>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Закрыть"
      severity="secondary"
      (click)="profileVisible = false"
    />
    <p-button
      label="{{ passwordInputVisible ? 'Сохранить' : 'Изменить пароль' }}"
      [disabled]="!passwordFormIsValid && passwordInputVisible"
      (click)="onPasswordButtonClick($event)"
    />
  </ng-template>
</p-dialog>
