<p-dialog
  header="Ваши данные"
  [modal]="true"
  [(visible)]="profileVisible"
  [dismissableMask]="true"
  [draggable]="false"
>
  <div class="profile">
    <app-profile-photo class="profile__photo"></app-profile-photo>
    <div class="profile__text-data">
      <span class="profile__email-name">Почта</span>
      <span class="profile__email-value">{{ email$ | async }}</span>
      <form *ngIf="passwordInputVisible" class="change-password-form">
        <app-password-input
          [placeholder]="'Новый пароль'"
          [control]="passwordForm.controls.password"
        ></app-password-input>
        <app-password-input
          [placeholder]="'Подтвердите пароль'"
          [control]="passwordForm.controls.passwordConfirm"
        ></app-password-input>
      </form>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      label="Закрыть"
      severity="secondary"
      (click)="profileVisible = false"
    />
    <p-button
      label="{{ passwordInputVisible ? 'Сохранить' : 'Изменить пароль' }}"
      [disabled]="passwordForm.invalid && passwordInputVisible"
      (click)="onPasswordButtonClick()"
    />
  </ng-template>
</p-dialog>
