:host {
  display: inline-block;
  position: relative;
  bottom: 2.5px;
}

.logo {
  height: 100%;
  width: auto;

  &__star,
  &__diamond-part,
  &__line {
    fill: none;
    stroke: url(#linear-gradient);
  }

  &__line,
  &__diamond-part {
    stroke-width: 2;
  }

  &__diamond-part {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
  }

  &__star {
    translate: 0 -2.5px;
  }
}
