@import 'app/shared/styles/theme/theme.scss';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
  margin: 0;
}

a {
  text-decoration: none;
}
