@import 'variables';

:host {
  display: block;
  min-height: 100vh;
}

.home {
  &__header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: $header-layer;

    width: 95%;
  }

  &__footer {
    display: block;
    width: 95%;
    margin-left: auto;
  }
}

.main {
  padding-top: 90px;
}
